<header>
	<div class="header_title_box">
		<p class="title"><a href="/"><img src="/img/home2.svg" height="42" width="42"></a>Sobre</ht>
	</div>
	<div class="header_action_box">
	</div>
</header>

<div class="page_nfo">
	<h3>Informações do aplicativo</h3>
		<p><b>FisioFrom</b>, conjunto de formulários para registro e resgate rápido de informações de pacientes de fisioterapia pélvica.</p>
		<p>Serão implementadas, posteriormente, mecanismos que permitam a análise das informações registratas bem como scripts para automação de backups.</p>
		<p>Este programa foi construído para ser acessado a partir do próprio dispositivo host, como um programa de desktop, ou em uma rede local (rede particular do escritório).</p>
		<p>Não foram implementados, até o momento, mecanismos de segurança, portanto recomendamos não servir as informaçoẽs em redes públicas.</p>

	<h3>Informações de autoria</h3>
		Aplicativo criado com <b>Node.JS</b> para registro/controle de pacientes.
		<li>Autor: @bwb0de 
		<li>email: danielc@unb.br  
		<li>git: <a href='https://github.com/bwb0de'>https://github.com/bwb0de</a>
</div> 